<!DOCTYPE html>
<html>
  <head>
    <title>KingTUT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<br />
  	<a href="/users">Home Page</a>


    {{{body}}}

  </body>
</html>
