<!DOCTYPE html>
<html>
  <head>
    <title>KingTUT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
  <div id="wrapper">
 	<a class="nav" href="/users">KingTUT</a>
  	<a class="nav" href="/users/new">Create New User</a>
  </div>


    {{{body}}}

  </body>
</html>
