<!DOCTYPE html>
<html>
  <head>
    <title>KingTUT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="wrapper">
 	<a class="nav" href="/users">Home Page</a>
  	<a class="nav" href="/users/new">Create New User</a>
  </div>


    {{{body}}}

  </body>
</html>
