<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>KingTUT</title>
    <meta name="description" content="kingTUT app">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Josh Seipel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
  <div id="wrapper">
 	  <a class="nav" href="/users">KingTUT</a>
  	<a class="nav" href="/users/new">Create New User</a>
  </div>


    {{{body}}}



    <div id="bottom">
      <h6>Powered by Materials Creative Co. &copy; 2017</h6>
      <img src="../images/sm.svg" alt="logo">
    </div>

  </body>
</html>
