<h3>Edit Current TUT</h3>
<form action="/users/{{user.id}}/tuts/{{tut.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">
			<h3 id="name">Name</h3>
		</label>
		<input type="text" name="name" required="required"/>
	</div>
	<div>
		<label for="link">
			<h3 id="link">Link</h3>
		</label>
		<input type="url" name="link" required="required"/>
	</div>
	<br />
	<div>
		<input id="update" type="submit" value="Update TUT"/>
	</div>
</form>
<h3><a href="/users/{{user.id}}/tuts">Back</a></h3>
