<h1>Edit Tuts</h1>
<form action="/users/{{user.id}}/tuts/{{tut.id}}?_method=PUT" method="POST">
	<div>
		<label for="description">
			Description
		</label>
			<input type="text" name="description" value="{{tut.description}}"/>
	</div>
	<div>
		<label for="in_progress">
			In Progress?
		</label>
			<span>Yes<input type="radio" name="in_progress" value="true" checked /></span>
			<span>No<input type="radio" name="in_progress" value="false"/></span>
	</div>
	<div>
	<input type="submit" value="Update Tuts Idea"/>
	</div>
</form>
