<h3>Add TUT</h3>
<form action="/users/{{user.id}}/tuts/{{tuts.id}}" method="POST">
	<div>
		<label for="name">
			<h3 id="name">Name</h3>
		</label>
			<input type="text" name="name" required="required"/>
	</div>
	<!-- <br /> -->
	<div>
		<label for="link">
			<h3 id="link">Link</h3>
		</label>
			<input type="url" name="link" required="required"/>
	</div>
	<br />
	<!-- <div>
		<label for="in_progress">
			<h3 id="in_progress">In Progress?</h3>
		</label>
			<span>Yes<input type="radio" name="in_progress" value="true" checked /></span>
			<span>No<input type="radio" name="in_progress" value="false"/></span>
	</div> -->
	<br />
	<div>
		<input id="doIt" type="submit" value="Do it!"/>
	</div>
</form>
<h3><a href="/users/{{user.id}}/tuts">Back</a></h3>


