<h1>Add Tut</h1>
<form action="/users/{{user.id}}/tuts/{{tuts.id}}" method="POST">
	<div>
		<label for="name">
			Name
		</label>
			<input type="text" name="name" value="{{tuts.name}}"/>
	</div>
	<div>
		<label for="in_progress">
			In Progress?
		</label>
			<span>Yes<input type="radio" name="in_progress" value="true" checked /></span>
			<span>No<input type="radio" name="in_progress" value="false"/></span>
	</div>
	<div>
	<input type="submit" value="Update TUT Idea"/>
	</div>
</form>


