<div class="wrapper">
	<h3>Add TUT</h3>
	<form action="/users/{{user.id}}/tuts/{{tuts.id}}" method="POST">
		<div>
			<label for="name">
				<h3 id="name">Name</h3>
			</label>
				<input type="text" name="name" required="required"/>
		</div>
		<div>
			<label for="link">
				<h3 id="link">Link</h3>
			</label>
				<input type="url" name="link" required="required"/>
		</div>
		<br />
		<br />
		<div>
			<input id="doIt" type="submit" value="Do it!"/>
		</div>
	</form>
</div>
<h3 class="back-btn"><a href="/users/{{user.id}}/tuts">Back</a></h3>


