<h1>New User</h1>
<form action="/users" method="POST">
	<div>
		<label for="first_name">
			<h2 id="frist_name">First Name</h2>
		</label>
		<input type="text" name="first_name" required="required"/>
	</div>
		<br />
	<div>
		<label for="last_name">
			<h2 id="last_name">Last Name</h2>
		</label>
		<input type="text" name="last_name" required="required"/>
	</div>
		<br />
	<div>
		<label for="email">
			<h2 id="email">Email</h2>
		</label>
		<input type="email" name="email" required="required"/>
	</div>
		<br />
	<div>
		<label for="username">
			<h2 id="username">Username</h2>
		</label>
		<input type="text" name="username" required="required"/>
	</div>
		<br />
	<div>
		<label for="password">
			<h2 id="password">Password</h2>
		</label>
		<input type="password" name="password" required="required"/>
	</div>
		<br />
	<div>
		<input type="submit" value="Create User" />
	</div>
</form>
